* {
  box-sizing: border-box;
  margin: auto;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
	background-color: #8b8a8c;
	height: 150px;
	border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 35px;
}

.container {
	width: 100%;
	position: relative;
}

.title {
	width: 100px;
	height: 30px;
	border: 1px solid black;
	position: relative;
	margin-right: 10px;
	float: right;
	text-align: center;
}

#Chicken {
	background-color: #d15b6e; 
}

#Beef {
	background-color: #a91a02;
	color: #fffffe;
}

#Sushi {
	background-color: #fbbda2;
}

@media (min-width: 992px) {
	.p1, .p2, .p3 {
		float: left;
  	    width: 33.33%;
  	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.p1, .p2 {
		float: left;
  	    width: 50%;
    }
    
    .p3 {
    	clear: both;
    	width: 100%;
    }

}
